body {
  margin: 0;
  background-color: #98bf21;
}

.parent {
  max-width: 960px;
  background-color: #22c9ff;
  margin: 0 auto;
}


.parent section {
  height: 200px;
  text-align: center;
}


.part3 {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  background-color: #ff781e;
}
