<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
<div class="container">
    <div class="without-overflow-clear border-color-orange">

        <img src="linyuner.jpg" alt="yoon">
        <p>未设置clear的情形 + 未设置overflow: auto的情形</p>
    </div>

    <div class="overflow border-color-green">
        <img src="linyuner.jpg" alt="yoon">
    </div>

    <hr>

    <div class="overflow-clear border-color-orange">
        <img src="linyuner.jpg" alt="yoon">
        <p>设置clear的情形 + 设置overflow: auto的情形</p>
    </div>

    <div class="overflow-clear border-color-green">
        <img src="linyuner.jpg" alt="yoon">
    </div>


</div>

</body>
</html>
