body {
  padding: 0;
  margin: 0;
}

@keyframes run {
  from {
    left: 0;
  }
  to {
    left: 100vw;
  }
}

@keyframes runWithColor {
  0% {
    left: 0;
    background-color: #ff2215;
  }

  50% {
    left: 50vw;
    background-color: #ffcf22;
  }

  100% {
    left: 100vw;
    background-color: #7cff2c;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.trigger-start {
  width: 200px;
  height: 50px;
  position: fixed;
  left: 0;
  top: 0;
  cursor: pointer;
}

.trigger-stop {
  width: 200px;
  height: 50px;
  position: fixed;
  left: 250px;
  top: 0;
  cursor: pointer;
}

.track {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.ball {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #ff2215;
  position: absolute;
  cursor: pointer;
}

.animation {
  animation: 2s runWithColor 0s linear infinite alternate both running;
}

/*animation-duration: 2s;*/
/*animation-name: run;*/
/*animation-delay: 0s;*/
/*animation-timing-function: ease/linear;*/
/*animation-iteration-count: infinite;*/
/*animation-direction: reverse/alternate;*/
/*animation-fill-mode: both;*/
/*animation-play-state: running;*/

