body {
  margin: 0;
  background: #22c9ff;
}

header {
  height: 50px;
  background: #A7C942;
}

.container {
  height: 100px;
  width: 400px;
  margin: 0 auto;
  background: white;
  background-clip: content-box;
  border: 10px solid hsla(0, 0%, 100%, .5);
}
